<form action="/contactProc" method="post">
    <ul>
        <li>    문의하기</li>
        <li> 이름 : <input type="text" name="name"></li>
        <li> 연락처 : <input type="text" name="phone"></li>
        <li> 이메일 : <input type="text" name="email"></li>
        <li> 내용 <br>
        <textarea name="memo" cols="50" rows="10"></textarea></li>
        <button>문의하기</button>
    </ul>
</form>