<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>SignUp | LE홈페이지</title>
  <link rel="stylesheet" href="/setting.css">
  <link rel="stylesheet" href="/plugin.css">
  <link rel="stylesheet" href="/template.css">
  <link rel="stylesheet" href="/common.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <!-- [S]basic-N10 -->
  <div class="basic-N10" data-bid="QNM1btRLk4" id="">
    <div class="contents-container">
      <img class="contents-visual img-pc" src="img_subvisual.png" alt="서브 비주얼 PC 이미지">
      <img class="contents-visual img-mobile" src="/img_subvisual_mobile.png" alt="서브 비주얼 모바일 이미지">
      <div class="contents-body container-md">
        <div class="textset textset-visual">
          <h2 class="textset-tit">Life of Engineer.</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- [E]basic-N10 -->
  <!-- [S]basic-N37 -->
  <form action="/signUpProc" method="post">
  <div class="basic-N37" data-bid="Llm1btUYkN" id="">
    <div class="contents-inner">
      <div class="contents-container container-md">
        <div class="imageset">
          <img class="imageset-img" src="/img_basic_N37_1.png" alt="이미지">
        </div>
        <div class="form-group form-line">
          <div class="inputset inputset-line inputset-lg inputset-label">
            
            <label>
              <h6 class="inputset-tit" >이름<span>*</span>
              </h6>
              <input type="text" name="name" class="inputset-input form-control" placeholder="이름을 입력해주세요." aria-label="내용" required="">
            </label>
          </div>
          <div class="inputset inputset-line inputset-lg inputset-label">
            <label>
              <h6 class="inputset-tit" >E-mail(ID)<span>*</span>
              </h6>
              <input type="text" name="user_id" class="inputset-input form-control" placeholder="이메일을 입력해주세요." aria-label="내용" required="">
              <button class="btnset">중복확인</button>
            </label>
          </div>
          <div class="inputset inputset-line inputset-lg inputset-label">
            <label>
              <h6 class="inputset-tit">전화번호<span>*</span>
              </h6>
              <input type="number" name="phone" class="inputset-input form-control" placeholder="'-'를 빼고 입력해주세요." aria-label="내용" required="">
            </label>
          </div>
          <div class="inputset inputset-line inputset-lg inputset-label">
            <label>
              <h6 class="inputset-tit" >비밀번호<span>*</span>
              </h6>
              <input type="password"  name="pw" class="inputset-input form-control" placeholder="문자, 숫자를 포함하여 8자리 이상의 길이로 만들어주세요." aria-label="내용" required="">
            </label>
          </div>
          <div class="contents-agree">
          </div>
          <div class="form-btn">
            <button class="btnset" type="submit">가입하기</button>
        
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
  <!-- [E]basic-N37 -->

  <!-- [E]basic-N4 -->
  <script src="../resources/js/setting.js"></script>
  <script src="../resources/js/plugin.js"></script>
  <script src="../resources/js/template.js"></script>
  <script src="../resources/js/common.js"></script>
  <script src="../resources/js/script.js"></script>
</body>