<link rel="stylesheet" href="/test2.css">
<form action="/signUpProc" method="post">
    <ul>
        <li>이름 : <input type="text" name="name"></li>
        <li>email : <input type="text" name="user_id"></li>
        <li>전화번호 : <input type="text" name="phone"></li>
        <li>비밀번호 : <input type="password" name="pw"></li>
        <button class="signup">가입하기</button>




</form>